.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 60px;
    padding: 60px 0;

}

.footer__text {
	display: flex;
	max-width: 269px;
	text-align: center;
	margin: 20px 0 30px 0;
}

.footer__contacts {
	display: flex;
	flex-wrap: wrap;
	max-width: 318px;
	margin: 40px;
	gap: 10px;
	justify-content: center;
}

.footer__info {
	margin-bottom: 5px;
}