.popup, 
.popup__profile {
	// display: none;
	width: 100%;
	height: 100%;
	background: rgba(246, 246, 246, 0.9);	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	overflow: hidden;
	transition: .3s;
}

.popup__login__form, 
.popup__login, 
.popup__change__password {
	z-index: 10;
}

.popup__login, 
.popup__change__password {
	// display: none;													// on/off popup login
	box-sizing: border-box;
	width: 370px;
	// max-height: 318px;
	background: #FFFFFF;
	border: 2.5px solid #070707;
	position: fixed;
	top: 0;
	left: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	transition: .3s;
}

.popup__login__form,
.change__password__form {
	padding: 40px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.popup__login__email, .popup__login__password {
	width: 100%;
}

.popup__login__password {
	margin-top: 20px;
}

.popup__login__form__input__email, .popup__login__form__input__password {
	width: 100%;
	margin-top: 6px;
}

.popup__login__form__label__password {
	margin-bottom: 6px;
	// margin-top: 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.popup__login__form__button {
	margin-top: 30px;
}

.popup__close,
.popup__profile__close {
	position: absolute;
	top: -2.5px;
	right: -40px;
	height: 26px;
	& svg {
		fill:#828282;
		&:hover, :focus {
			fill: #070707;
		}
	}
}

.popup__register,
.popup__change__data {
	display: none;													// on/off popup register
	box-sizing: border-box;
	width: 680px;
	max-height: 533px;
	background: #FFFFFF;
	border: 2.5px solid #070707;
	position: fixed;
	top: 0;
	left: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.popup__register__form,
.change__data__form {
	padding: 37.5px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.popup__register__form__input__wrap, 
.popup__message__form__input__wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	// box-sizing: border-box;
}

.popup__register__form__input__flex, 
.popup__message__form__input__flex {
	display: flex;
	gap: 20px;
}

.popup__register__form__check {
	display: flex;
	gap: 15px;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden;
}

// .popup__register__form__checkbox {
// 	margin: 0;
// 	cursor: pointer;
// 	width: 19px;
// 	height: 19px;
// 	border: 2px solid #070707;
// 	border-radius: 3px;
// 	background-color: #FFFFFF;
// }
.popup__message__form__check_text,
.popup__register__form__check_text {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	box-sizing: border-box;
	color: #E5E5E5;
	transition: .3s;
	&:hover {
		color: #828282;
		transition: .3s;
	}
	&::before {
		content: " ";
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
		vertical-align: middle;
		width: 19px;
		height: 19px;
		border: 2px solid #E5E5E5;
		border-radius: 3px;
		background-color: #FFFFFF;
		margin-right: 15px;
		transition: .3s;
	}
	&::after {
		content: " ";
		display: block;
		position: absolute;
		top: 1px;
		left: 3px;
		width: 14px;
		height: 14px;
		background: url(/img/ico/checkBlack.svg) no-repeat;
		opacity: 0;
		box-sizing: border-box;
		transition: .3s;
	}
}

.popup__message__form__check_text:hover::before,
.popup__register__form__check_text:hover::before {
	border: 2px solid #828282;
	transition: .3s;
}

.popup__message__form__checkbox:checked + .popup__message__form__check_text,
.popup__register__form__checkbox:checked + .popup__register__form__check_text {
	color: #070707;
	transition: .3s;
}

.popup__message__form__checkbox:checked + .popup__message__form__check_text::after,
.popup__register__form__checkbox:checked + .popup__register__form__check_text::after {
    opacity: 1;
	transition: .3s;
}

.popup__message__form__checkbox:checked + .popup__message__form__check_text::before,
.popup__register__form__checkbox:checked + .popup__register__form__check_text::before {
	border: 2px solid #070707;
	transition: .3s;
}

.btn_signup,
.btn_message {
	max-width: 101px;
}

.popup__message {
	display: none;													// on/off popup message
	box-sizing: border-box;
	width: 680px;
	height: 540px;
	background: #FFFFFF;
	border: 2.5px solid #070707;
	position: fixed;
	top: 0;
	left: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.popup__message__form {
	padding: 37.5px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.popup__message__text__letter {
	box-sizing: border-box;
	resize: none;
	height: 150px;
	border: 2.5px solid #E5E5E5;
	color: #070707;
	padding: 5px;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	font-family: 'Gilroy';
	font-style: normal;
}

.popup__error__text {
	color: #EB3617;
	margin-top: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	transition: .3s;
}

.popup__error__input {
	transition: .3s;
	border: 2.5px solid #EB3617;
	&:hover {
		border: 2.5px solid #f5c800;
		transition: .3s;
	}
	&:focus {
		border: 2.5px solid #070707;
		outline: 0;
		transition: .3s;
		// box-shadow: none;
	}
}

.popup__truth__text {
	color: #03BC3C;
	margin-top: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	transition: .3s;
}

.popup__truth__input {
	transition: .3s;
	border: 2.5px solid #EB3617;
	&:hover {
		border: 2.5px solid #f5c800;
		transition: .3s;
	}
	&:focus {
		border: 2.5px solid #070707;
		outline: 0;
		transition: .3s;
		// box-shadow: none;
	}
}