@import "_variables.base";
@import "_mixins";

@import "vendor/_normalize";

@import "_utils";
@import "_base";

@import "_blocks/header";
@import "_blocks/footer";

// @import "img/ico/check";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

// Style for index.html

.main__content, .blog__content {
	margin: 0 60px;
}

.main__title {
	display: flex;
	gap: 40px;
	max-width: 546px;
	align-items: flex-end;
	margin-bottom: 36px;
}

.main__title__info {
	margin-bottom: 8px;
}

.slider {
	max-width: 1000px;
	margin-bottom: 60px;
	user-select: none;
}

.slider__wrapper {
	display: flex;
	overflow: hidden;
}

.slider__list {
	display: flex;
	// width: 1000px;
	height: 100%;
	transition: transform;
}

.slider__slide {
	display: flex;
	max-height: 100%;
	background-color: #E5E5E5;
}

.slide_1__image {
	width: 100%;
	height: auto;
}

.slider__controls{
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.slider__next, .slider__back {
	width: 42px;
	height: 42px;
	&:hover {
		opacity: 0.6;
	}
	&:disabled {
		opacity: 0.2;
		cursor: no-drop;
	}
}

.slider__pagination {
	display: flex;
	gap: 7px;
	align-items: center;
}

.slider__dot {
	width: 10px;
	height: 10px;
	background: #E5E5E5;
	border-radius: 50%;
	&:hover {
		background: #828282;
	}
	&__active {
		background: #070707;
	}
}

.main__aboutme{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__aboutme__title {
	margin: 60px 0 51px 0;
}

.main__aboutme__text__left {
	// border: 2.5px solid #070707;
	// border: 10px solid #070707;
	// background-size: round;
	border: 25px solid #070707;
    border-image-slice: 27;
    border-image-source: url(/img/ico/borderLeft.svg);
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 480.5px;
    padding-bottom: 12.5px;
}

.main__aboutme__text__right {
	border: 25px solid #070707;
    border-image-slice: 27;
    border-image-source: url(/img/ico/borderRight.svg);
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 480.5px;
    padding-bottom: 12.5px;
}

.main__aboutme p {
	&:nth-child(odd) {
		margin-left: 100px;
	}
	&:nth-child(even) {
		margin-right: 100px;
	}
}

.main__skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 60px 0;
}

.main__skills__title {
	margin-bottom: 20px;
}

.main__skills__info {
	margin-bottom: 50px;
}

.main__skills__programs__list {
	display: flex;
	column-gap: 25px;
}

.main__skills__programs__list_items {
	display: flex;
	flex-direction: column;
	width: 180px;
}

.main__skills__programs__name {
	margin: 20px 0 24px 0;
	justify-content: center;
	display: flex;
}

.main__skills__programs__logo {
	margin: 0 auto;
	display: flex;
}

.main__skills__programs__progress {
	display: flex;
	max-width: 142px;
}

.skill__progress {
	font-style: normal;
	display: flex;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: #828282;
	align-items: center;
	&::after {
		content: '';
		display: flex;
		position: absolute;
		width: 142px;
		height: 9px;
		margin-left: 38px;
		background: #E5E5E5;
	}
	&::before {
		content: '';
		display: flex;
		position: absolute;
		width: 121px;
		height: 9px;
		margin-left: 38px;
		background: #070707;
		z-index: 2;
	}
}

.main__portfolio {
	display: flex;
	flex-direction: column;
	margin: 60px 0;
	align-items: center;

}

.main__portfolio__title {
	margin-bottom: 50px;
}

.portfolio__slider__wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 1000px;
	max-height: 604px;
	box-shadow: 0px 0px 35px -5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.portfolio__slider__content {
	width: 100%;
	height: 604px;
}

.portfolio__slider__button_left {
	display: flex;
	position: absolute;
	top: 302px;
	left: 30px;
}
.portfolio__slider__button_right {
	display: flex;
	position: absolute;
	top: 302px;
	right: 30px;
}
.portfolio__slider__popup {
	position: absolute;
	bottom: -150px;
	width: 100%;
	height: 150px;
	background: rgba(7, 7, 7, 0.85);
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: bottom .4s;
}

.portfolio__slider__wrap:hover .portfolio__slider__popup {
	bottom: 0;
}

.portfolio__slider__link {
	color: #FFFFFF;
	margin-top: 31px;
	margin-bottom: 16px;
	font-style: normal;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	border-bottom: 1px dashed #FFFFFF;
	&:hover {
		border-bottom: 1px solid #FFFFFF;
	}
}

.portfolio__slider__info {
	color: #FFFFFF;
	max-width: 400px;
	font-style: normal;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
}

.open {
	display: flex;
}

.popup {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(246, 246, 246, 0.9);	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	overflow: hidden;
	transition: .3s;
}

.popup__login__form, .popup__login {
	z-index: 10;
}

.popup__login {
	display: none;													// on/off popup login
	box-sizing: border-box;
	width: 370px;
	height: 318px;
	background: #FFFFFF;
	border: 2.5px solid #070707;
	position: fixed;
	top: 0;
	left: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	transition: .3s;
}

.popup__login__form {
	padding: 40px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.popup__login__form__label__email,
.popup__register__form__label__email,
.popup__register__form__label__name,
.popup__register__form__label__surname,
.popup__register__form__label__password,
.popup__register__form__label__repeat_password,
.popup__register__form__label__location,
.popup__register__form__label__age,
.popup__message__form__label__your_name,
.popup__message__form__label__repeat_subject,
.popup__message__form__label__youremail,
.popup__message__form__label__mobile_phone,
.popup__message__label__letter {
	margin-bottom: 6px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.popup__login__form__input__email, .popup__login__form__input__password {
	width: 100%;
}

.popup__login__form__label__password {
	margin-bottom: 6px;
	margin-top: 20px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.popup__login__form__button {
	margin-top: 30px;
}

.popup__close {
	position: absolute;
	top: -2.5px;
	right: -40px;
	height: 26px;
	& svg {
		fill:#828282;
		&:hover, :focus {
			fill: #070707;
		}
	}
}

.popup__register {
	display: none;													// on/off popup register
	box-sizing: border-box;
	width: 680px;
	height: 533px;
	background: #FFFFFF;
	border: 2.5px solid #070707;
	position: fixed;
	top: 0;
	left: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.popup__register__form {
	padding: 37.5px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.popup__register__form__input__wrap, .popup__message__form__input__wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	// box-sizing: border-box;
}

.popup__register__form__input__flex, .popup__message__form__input__flex {
	display: flex;
	gap: 20px;
}

.popup__register__form__check {
	display: flex;
	gap: 15px;
	align-items: center;
	box-sizing: border-box;
	overflow: hidden;
}

// .popup__register__form__checkbox {
// 	margin: 0;
// 	cursor: pointer;
// 	width: 19px;
// 	height: 19px;
// 	border: 2px solid #070707;
// 	border-radius: 3px;
// 	background-color: #FFFFFF;
// }

.popup__register__form__check_text {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	box-sizing: border-box;
	color: #E5E5E5;
	transition: .3s;
	&:hover {
		color: #828282;
		transition: .3s;
	}
	&::before {
		content: " ";
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
		vertical-align: middle;
		width: 19px;
		height: 19px;
		border: 2px solid #E5E5E5;
		border-radius: 3px;
		background-color: #FFFFFF;
		margin-right: 15px;
		transition: .3s;
	}
	&::after {
		content: " ";
		display: block;
		position: absolute;
		top: 1px;
		left: 3px;
		width: 14px;
		height: 14px;
		background: url(/img/ico/checkBlack.svg) no-repeat;
		opacity: 0;
		box-sizing: border-box;
		transition: .3s;
	}
}

.popup__register__form__check_text:hover::before {
	border: 2px solid #828282;
	transition: .3s;
}

.popup__register__form__checkbox:checked + .popup__register__form__check_text {
	color: #070707;
	transition: .3s;
}

.popup__register__form__checkbox:checked + .popup__register__form__check_text::after {
    opacity: 1;
	transition: .3s;
}

.popup__register__form__checkbox:checked + .popup__register__form__check_text::before {
	border: 2px solid #070707;
	transition: .3s;
}

.btn_signup {
	max-width: 101px;
}

.popup__message {
	display: none;													// on/off popup message
	box-sizing: border-box;
	width: 680px;
	height: 540px;
	background: #FFFFFF;
	border: 2.5px solid #070707;
	position: fixed;
	top: 0;
	left: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.popup__message__form {
	padding: 37.5px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
}

.popup__message__text__letter {
	box-sizing: border-box;
	resize: none;
	height: 150px;
	border: 2.5px solid #E5E5E5;
	color: #070707;
	padding: 5px;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	font-family: 'Gilroy';
	font-style: normal;
}



// Style for blog.html

.blog__filter {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.blog__filter__list {
	display: flex;
}

.blog__filter__list_items {
	gap: 10px;
}

.filter__tags {
	display: flex;
	flex-direction: column;
}

.filter__tags__sort {
	display: flex;
	max-width: 115px;
	gap: 5px;
	flex-wrap: wrap;
}

// .filter__views__sort,
// .filter__show__sort,
// .filter__views__sort {
// 	display: flex;
// 	box-sizing: border-box;
// 	height: 25px;
// }

.filter__views,
.filter__sort {
	display: flex;
	flex-direction: column;
	margin-left: 77px;
}

.filter__show {
	display: flex;
	flex-direction: column;
	margin-left: 137px;
}

.checkbox__custom {
	cursor: pointer;
	content: '';
	position: relative;
	box-sizing: border-box;
	&::before {
		content: " ";
		display: inline-block;
		text-align: center;
		box-sizing: border-box;
		vertical-align: middle;
		width: 25px;
		height: 25px;
		// border: 2.5px solid #2176FF;
		border-radius: 5px;
		background-color: #FFFFFF;
	}
	&::after {
		content: " ";
		display: block;
		position: absolute;
		top: 5px;
		left: 5px;
		width: 19px;
		height: 19px;
		// background: url(/img/ico/check2176FF.svg) no-repeat;
		opacity: 0;
		box-sizing: border-box;
		transition: .1s linear;	
	}
}

.checkbox__custom__black {
	margin-left: 37px;
	display: flex;
	height: 25px;
	align-items: center;
	line-height: 21px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	&:hover::before {
		border: 2.5px solid #828282;
	}
	&:hover::after {
		position: absolute;
		background: url(/img/ico/checkBlack.svg) no-repeat;
		left: -32px;
		opacity: 0.5;
	}
	&::before {
		position: absolute;
		border: 2.5px solid #E5E5E5;
		left: -37px;
	}
	&::after {
		position: absolute;
		background: url(/img/ico/checkBlack.svg) no-repeat;
		left: -32px;
	}
}


.filter__input__comment:checked + .checkbox__custom__black::before {
	border: 2.5px solid #070707;
	transition: .3s;
}

.filter__input__comment:checked + .checkbox__custom__black::after,
.checkbox__stock__2176FF:checked + .checkbox__custom__2176FF::after,
.checkbox__stock__33A1FD:checked + .checkbox__custom__33A1FD::after,
.checkbox__stock__FDCA40:checked + .checkbox__custom__FDCA40::after,
.checkbox__stock__57E2E5:checked + .checkbox__custom__57E2E5::after,
.checkbox__stock__F79824:checked + .checkbox__custom__F79824::after,
.checkbox__stock__E08DAC:checked + .checkbox__custom__E08DAC::after,
.checkbox__stock__6A7FDB:checked + .checkbox__custom__6A7FDB::after,
.checkbox__stock__45CB85:checked + .checkbox__custom__45CB85::after {
    opacity: 1;
}

.checkbox__custom__2176FF {
	&:hover::after {
		background: url(/img/ico/check2176FF.svg) no-repeat;
		opacity: 0.5;
	}
	&::before {
		border: 2.5px solid #2176FF;
	}
	&::after {
		background: url(/img/ico/check2176FF.svg) no-repeat;
	}
}

.checkbox__custom__33A1FD {
	&:hover::after {
		background: url(/img/ico/check33A1FD.svg) no-repeat;
		opacity: 0.5;
	}
	&::before {
		border: 2.5px solid #33A1FD;
	}
	&::after {
		background: url(/img/ico/check33A1FD.svg) no-repeat;
	}
}

.checkbox__custom__FDCA40 {
	&:hover::after {
		background: url(/img/ico/checkFDCA40.svg) no-repeat;
		opacity: 0.5;
	}
	&::before {
		border: 2.5px solid #FDCA40;
	}
	&::after {
		background: url(/img/ico/checkFDCA40.svg) no-repeat;
	}
}

.checkbox__custom__57E2E5 {
	&:hover::after {
		background: url(/img/ico/check57E2E5.svg) no-repeat;
		opacity: 0.5;
	}
	&::before {
		border: 2.5px solid #57E2E5;
	}
	&::after {
		background: url(/img/ico/check57E2E5.svg) no-repeat;
	}
}

.checkbox__custom__F79824 {
	&:hover::after {
		background: url(/img/ico/checkF79824.svg) no-repeat;
		opacity: 0.5;
	}
	&::before {
		border: 2.5px solid #F79824;
	}
	&::after {
		background: url(/img/ico/checkF79824.svg) no-repeat;
	}
}

.checkbox__custom__E08DAC {
	&:hover::after {
		background: url(/img/ico/checkE08DAC.svg) no-repeat;
		opacity: 0.5;
	}
	&::before {
		border: 2.5px solid #E08DAC;
	}
	&::after {
		background: url(/img/ico/checkE08DAC.svg) no-repeat;
	}
}

.checkbox__custom__6A7FDB {
	&:hover::after {
		background: url(/img/ico/check6A7FDB.svg) no-repeat;
		opacity: 0.5;
	}
	&::before {
		border: 2.5px solid #6A7FDB;
	}
	&::after {
		background: url(/img/ico/check6A7FDB.svg) no-repeat;
	}
}

.checkbox__custom__45CB85 {
	&:hover::after {
		background: url(/img/ico/check45CB85.svg) no-repeat;
		opacity: 0.5;
	}
	&::before {
		border: 2.5px solid #45CB85;
	}
	&::after {
		background: url(/img/ico/check45CB85.svg) no-repeat;
	}
}

.filter__views__radio,
.filter__show__radio,
.filter__sort__radio {
	margin-left: 37px;
	position: relative;
	cursor: pointer;
	height: 25px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	&::before {
		content: '';
		width: 25px;
		height: 25px;
		box-sizing: border-box;
		border-radius: 50%;
		border: 2.5px solid #E5E5E5;
		position: absolute;
		top: 0;
		left: -37px;
		transition: .3s;
	}
	&::after {
		content: '';
		width: 13px;
		height: 13px;
		box-sizing: border-box;
		border-radius: 50%;
		background: #E5E5E5;
		position: absolute;
		top: 6px;
		left: -31px;
		transition: .3s;
	}
	&:hover::before {
		border: 2.5px solid #828282;
		transition: .3s;
	}
	&:hover::after {
		background: #828282;
		transition: .3s;
	}
}

.filter__views__input:checked + .filter__views__radio::before,
.filter__show__input:checked + .filter__show__radio::before,
.filter__sort__input:checked + .filter__sort__radio::before	{
	border: 2.5px solid #070707;
	transition: .3s;
}
.filter__views__input:checked + .filter__views__radio::after,
.filter__show__input:checked + .filter__show__radio::after,
.filter__sort__input:checked + .filter__sort__radio::after {
	background: #070707;
	transition: .3s;
}

.filter__comments {
	display: flex;
	flex-direction: column;
	margin-left: 70px;
}

.filter__reset {
	margin-top: 19px;
	flex-direction: column;
	align-items: center;
	display: flex;
	margin-left: 48px;
	& p {
		margin-bottom: 5px;
		font-weight: 400;
		color: #E5E5E5;
	}
}

.blog__filter__search {
	display: flex;
	gap: 30px;
	align-items: center;
	position: relative;
}

.search__input {
	width: 100%;
}

.blog__line {
	width: 100%;
	background: #E5E5E5;
	height: 2px;
	border: none;
	margin: 0;
}

