<footer class="footer__full">
    <div class="footer center">
        <div class="footer__content">
            <h2 class="footer__title">Contacts</h2>
            <p class="footer__text text__main">Want to know more or just chat? You are welcome!</p>
            <button class="btn_black btn__message_js">Send message</button>
            <section class="footer__contacts">
                <a href="#" class="btn_white">Instagram</a>
                <a href="#" class="btn_white">Vk</a>
                <a href="#" class="btn_white">Telegram</a>
                <a href="#" class="btn_white">Mail</a>
                <a href="#" class="btn_white">GitHub</a>
                <a href="#" class="btn_white">Phone</a>
            </section>
            <p class="footer__info text__info">Design by <a class="text__link" href="#" >DL Academy</a></p>
            <p class="text__info">Program code from Chuchadeev Kirill</p>
        </div>
    </div>