<header class="header__full">
    <div class="header center">
        <div class="header__content">
            <div class="header__content-left">
                <a href="http://localhost:3000/" class="header__content-home">Home</a>
            </div>
            <ul class="header__content-right">
                <li>
                    <a href="#" class="header__content-blog">My blog</a>
                </li>
                <li>
                    <button class="btn_text header__content-signin btn__signin_js">
                        Sign in
                    </button>
                </li>
                <li>
                    <button class="btn_text header__content-register btn__register_js">
                        Register
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>