<header class="header__full">
    <div class="header center">
        <div class="header__content">
            <div class="header__content-left">
                <a href="/index.html" class="header__content-home">Home</a>
            </div>
            <ul class="header__content-right">
                <li>
                    <a href="/blog.html" class="header__content-blog btn__blog_js close">My blog</a>
                </li>
				<li>
                    <a href="/profile.html" class="header__content-blog btn__profile_js close">My profile</a>
                </li>
                <li>
                    <button class="btn_text header__content-signin btn__signin_js">
                        Sign in
                    </button>
                </li>
                <li>
                    <button class="btn_text header__content-register btn__register_js">
                        Register
                    </button>
                </li>
				<li>
                    <button class="btn_text header__content-register btn__logout_js close">
                        Log Out
                    </button>
                </li>
            </ul>
        </div>
    </div>
</header>