<header class="header">
    <div class="header__wrapper center">
        <div class="header__content">
            <div class="header__content-left">
                <a href="/index.html" class="header__content-home">Home</a>
            </div>
            <ul class="header__content-right">
                <li class="btn__blog_js close">
                    <a href="/blog.html" class="header__content-blog">My blog</a>
                </li>
				<li class="btn__profile_js close">
                    <a href="/profile.html" class="header__content-blog">My profile</a>
                </li>
                <li class="btn__signin_js">
                    <button class="btn_text header__content-signin">
                        Sign in
                    </button>
                </li>
                <li class="btn__register_js">
                    <button class="btn_text header__content-register">
                        Register
                    </button>
                </li>
				<li class="btn__logout_js close">
                    <button class="btn_text header__content-register">
                        Log Out
                    </button>
                </li>
            </ul>
        </div>
		<button class="burger__menu__open open__menu_js" aria-label="Open menu."></button>
		<button class="burger__menu__close close close__menu_js" aria-label="Close menu."></button>
    </div>
</header>